
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Barcode", FormMethod.Post))
    {
        <input type="text" name="barcode" />
        <input type="submit" value="Generate Barcode" />
    }
    <hr />
    @if (ViewBag.BarcodeImage != null)
    {
        <img src="@ViewBag.BarcodeImage" alt="" />
    }
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 42335c885198a9fd43d773370cbb58fd26983780
