@{
    ViewBag.Title = "My Store - Home";
}
<div>
    @*<h1>Welcome</h1>
    <p class="lead">~Hello User: "@User.Identity.Name" , Successfully logging to Online Store Management Solution (MyStore)~</p>
    <h2>Transcom Beverage Limited</h2>*@
    
    <img src="~/Picture/pepsi.jpg" height="100%" width="100%" />
    @*<p>Transcom Beverage Ltd (TBL) is the exclusive PepsiCo Franchisee for Bangladesh. TBL owns and operates modern plants in Dhaka and Chittagong for bottling the renowned soft drink brands such as, Pepsi, 7UP, Mirinda, Slice, Mountain Dew, Pepsi Diet and 7UP Light. The company is emerging with the motto to deliver sustained growth in Bangladesh and move towards dominant Beverage Company, delighting & nourishing every Bangladeshi, by best meeting their everyday beverages needs & stakeholders by delivering performance with purpose, through talented people. 2009 has been an amazing year for TBL, winning several spectacular awards as PepsiCo's exclusive bottling partner in Bangladesh. For its' extraordinary and outstanding venture through excellence TBL has been rewarded with several prestigious national and international recognitions.</p>*@
</div>  