
@{
    /**/

    ViewBag.Title = "Index";
}

<br />



<h2>Choose Report Parameter</h2>
<div class="panel-body">
    <div class="col-md-6">
        <div class="form-group">
            <label>Select Plant:</label>
            @Html.DropDownList("PlantNo", null, "Select Plant ", new { @class = "form-control",@id = "PlantNo"})
            <input type="button" id="showReport" value="Preview" class="form-control btn-primary" />
        </div>
    </div>

</div>
<br />
<div id="tabledata"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#showReport').click(function () {
            $("#ajax_load").show();
            var wValue = $("#PlantNo").val();
            $.ajax({
                    url: "@Url.Action("Amount", "MachineAmount")",
                    dataType: "HTML",
                    type: "POST",
                    data: {Id: wValue },
                    cache: false,
                    async: true,
                    success: function(data) {
                        $("#tabledata").html(data);
                    }
            });
        })

    </script>
}




